* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

#main-div {
    position: relative;
    display: inline-block;
}

#game-infos {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#main-player-life {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: 4px solid white;
}

#player-life-background {
    background-color: red;
    opacity: 0.3;
    height: 30px; 
    width: 100%;
}

#player-life {
    position: absolute;
    background: #22D3EE;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#timer {
    background-color: #FCD34D;
    opacity: 0.8;
    height: 50px; 
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid darkorange;   
}

#main-enemy-life {
    position: relative;
    border: 4px solid white;
    width: 100%
}

#enemy-life-background {
    background-color: red;
    opacity: 0.3;
    height: 30px; 
}

#enemy-life {
    position: absolute;
    background: #22D3EE;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#result {
    position: absolute;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}